<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<style>
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  body {
    padding: 3rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .users {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .users__num {
    width: 10%;
  }
  .users__name {
    width: 20%;
  }
  .users__email {
    width: 30%;
  }
  .users__control {
    width: 10%;
  }
</style>

<body>
  <div class="add-user">
  <h2>Add a User</h2>
    <form action="/users" method='post'>
      <label for="name">Name:</label>
      <input id="name" type="text" name="name">
      <br>
      <label for="email">Email:</label>
      <input id="email" type="text" name="email">
      <br>
      <button>Submit</button>
    </form>
  </div>
  <h2>Here are all the users:</h2>
  <% for (var x in users) { %>
  <% num = parseInt(x)+1 %>
  <div class="users">
    <div class="users__num"><%= num %></div>
    <div class="users__name"><%= users[x].name %></div>
    <div class="users__email"><%= users[x].email %></div>
    <form 
      class="users__link" 
      method='get'
      action="/users/<%= users[x]._id %>">
      <button>View</button>
    </form>
    <form 
      class="users__link" 
      method='get'
      action="/edit/user/<%= users[x]._id %>">
      <button>Edit</button>
    </form>
    <form 
      class="users__link" 
      method='delete'
      action="/users/<%= users[x]._id %>">
      <button>Delete</button>
    </form>
  </div>
  <% } %>
</body>
</html>
