<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dojo Message Board</title>
</head>
<body>
  <h1>Dojo Message Board</h1>
  <hr>
  <% if(messages.newMessage) { %>
    <% for (var x of messages.newMessage) { %>
     <h3><%= x %></h3>
    <% } %>
<% } %>
  <form action="/message" method="POST">
    Name:
    <br>
    <input name="postedBy" type="text">
    <br>
    Message:
    <br>
    <input name="content" type="text">
    <button>Post Message</button>
  </form>
  <hr>
  <% for (var message of data) { %>
    <h2>Name: <%= message.postedBy %></h2>
    <h3>Message: <%= message.content %></h2>
      <% for (var comment of message.comments) { %>
        <h4>Name: <%= comment.postedBy %></h4>
        <h4>Message: <%= comment.content %></h4>
      <% } %>
      <form action="/comment" method="POST">
        Name:
        <br>
        <input name="postedBy" type="text">
        <br>
        Message:
        <br>
        <input name="content" type="text">
        <input type="hidden" name="_id" value="<%= message._id %>">
        <button>Post Comment</button>
      </form>
      <% if(messages.newComment) { %>
        <% for (var x of messages.newComment) { %>
          <h3><%= x %></h3>
        <% } %>
      <% } %>
      <hr>
  <% } %>
</body>
</html>